@font-face {
  font-family: "IPAexGothic";
  src: url("/ipaexg.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "IPAexMincho";
  src: url("/ipaexm.woff2") format("woff2");
  font-display: swap;
}


:root{
  color: var(--fgc);
  background-color: var(--bgc);
  font-family: "IPAexGothic", sans-serif;
}

body {
  margin:0px;
  padding:0px;
}

a {
  color: var(--link-color);
}

a:visited{
  color: var(--link-visited);
}

a:hover{
  color: orange;
}

